.deps/
EmailFetcherMain.cpp~
EmailFetcherMain.o
Makefile.am~
emailfetch
Formatter.o
Formatter.cpp~
Formatter.h~
MaildirFormatter.o
MaildirFormatter.cpp~
MaildirFormatter.h~
S3Get.o
S3Get.cpp~
S3Get.h~

